.skills {
  &__title {
    margin-bottom: 3rem;
  }
  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    @include respond(tab-port) {
      grid-template-columns: 1fr;
    }
    &--frontend,
    &--backend {
      background-color: $container-color-light;
      text-align: center;
      border: 0.1rem solid $border-color;
      border-radius: 2rem;
      padding: 3rem;
    }
  }
  &-lists {
    display: flex;
    justify-content: space-around;
    row-gap: 3rem;
  }
  &-list {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
  }
  .skill {
    &-name {
      font-size: 2rem;
      color: $title-color;
      font-weight: 700;
    }
    &-level {
      font-size: 1.4rem;
    }
  }
  &-icon {
    margin-right: 1rem;
    font-size: 2.2rem;
    color: $title-color;
  }
  &-item {
    display: flex;
    text-align: left;
    // column-gap: 3rem;
    // row-gap: 3rem;
  }
}
